@font-face {
    font-family: Manjari;
    src: url("Manjari-Bold.ttf") format("woff");
    font-weight: 700; }

@font-face {
    font-family: Manjari;
    src: url("Manjari-Regular.ttf") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Manjari;
    src: url("Manjari-Thin.ttf") format("woff");
    font-weight: 100; }
    

      
      
    
  